In [1]:
import pandas as pd
import pickle

In [3]:
data = pd.read_pickle('Mission_dtm.pkl')
data

,00,000,000a,000on,007,008,01,023,047,0801351txtlanguage,...,zorobabel,zouch,zouga,zougachapter,zurich,zuthee,µamely,ægean,æsculapius,éclaircissement
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
81,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
82,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
83,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#import the packages
from gensim import matutils, models
import scipy.sparse

In [6]:
#Use a term document matrix instead of a document term matrix.
tdm = data.transpose()
tdm.head()

,00,000,000a,000on,007,008,01,023,047,0801351txtlanguage,...,zorobabel,zouch,zouga,zougachapter,zurich,zuthee,µamely,ægean,æsculapius,éclaircissement
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
#convert the tdm into a sparse matrix cos that is the gensim format
sparse_counts = scipy.sparse.csr_matrix(tdm)

In [9]:
#convert the sparse matrix into a gensim corpus
corpus = matutils.Sparse2Corpus(sparse_counts)

In [11]:
#Gensim requires a dictionary of all the terms and their respective locations in the term matrix
cv = pickle.load(open('cv_stop.pkl', 'rb'))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

In [12]:
#Now that we have the corpus and the sparse matrix, we proceed to use the lda to find hidden words in the corpus
#we start with k i.e the number of topics to be 2
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)
lda.print_topics()

[(0,
  '0.057*"101" + 0.057*"12mo" + 0.052*"102" + 0.051*"103" + 0.051*"1026144" + 0.036*"1000" + 0.036*"108" + 0.034*"000a" + 0.031*"104" + 0.031*"1239"'),
 (1,
  '0.017*"047" + 0.016*"1280" + 0.015*"100" + 0.015*"105" + 0.014*"11s" + 0.014*"083" + 0.014*"129" + 0.014*"118" + 0.014*"0i4" + 0.014*"1000l"')]

In [13]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.024*"1280" + 0.022*"11s" + 0.021*"11th" + 0.021*"111" + 0.020*"10th" + 0.020*"10" + 0.020*"100l" + 0.020*"103d" + 0.020*"125" + 0.020*"117"'),
 (1,
  '0.077*"101" + 0.075*"102" + 0.068*"1026144" + 0.068*"103" + 0.065*"12mo" + 0.050*"108" + 0.049*"100" + 0.049*"000on" + 0.043*"104" + 0.041*"114"'),
 (2,
  '0.041*"047" + 0.034*"083" + 0.033*"08234406" + 0.033*"008" + 0.033*"007" + 0.032*"0900061txtlanguage" + 0.032*"116" + 0.032*"0900491txtlanguage" + 0.032*"0801351txtlanguage" + 0.032*"01"')]

In [14]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)
lda.print_topics()

[(0,
  '0.083*"11s" + 0.062*"124" + 0.056*"11l" + 0.053*"10l" + 0.053*"10th" + 0.047*"102" + 0.046*"0½" + 0.031*"11" + 0.031*"0i4" + 0.021*"12chapter"'),
 (1,
  '0.108*"103" + 0.108*"1026144" + 0.057*"000a" + 0.056*"1239" + 0.053*"104" + 0.053*"1000" + 0.050*"114" + 0.046*"1260" + 0.033*"102" + 0.028*"127"'),
 (2,
  '0.016*"105" + 0.015*"083" + 0.015*"129" + 0.015*"101" + 0.015*"118" + 0.015*"1000l" + 0.015*"08234406" + 0.015*"007" + 0.015*"120" + 0.015*"008"'),
 (3,
  '0.108*"1280" + 0.085*"047" + 0.067*"10s" + 0.066*"10general" + 0.063*"12mo" + 0.055*"100" + 0.037*"10days" + 0.034*"106" + 0.027*"126" + 0.024*"100l"')]

In [38]:
#These topics aren't really looking good and basically make no sense. we have to tune our terms
#Create a function to pull out nouns and adjectives from the corpus
from nltk import word_tokenize, pos_tag

def nouns(text):
    is_noun = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)]
    return ' '.join(all_nouns)

In [39]:
#read in the cleaned data 
data_clean = pd.read_pickle('data_clean.pkl')
data_clean.head()

,Author,Title,Body,Body_update,Author Name
0,Alexander_Duff-Missions,The_Chief_End_of_the_Christian_Church-Andrew_E...,"Duff, Alexander, 1806-1878. \n\n^fesions: the ...","Duff, Alexander, 1806-1878 ^fesions: chief end...",Alexander_Duff-Missions
1,Alexander_Duff-T,"The_Life_and_Happy_Death_of_Charlotte_Green,_A...",Cl._____ _ \n\n\n.. .. \n\n..3/-.. \n\n\n \n.....,Cl_____ _ 3/- !l![ort §ruil5 :l!nbia; tt 11:lu...,Alexander_Duff-T
2,Alonzo_Bunker,Sketches_From_The_Karen_Hills-Fleming_H._Revel...,\nProject Gutenberg Australia\n\nTitle: Sketch...,Project Gutenberg AustraliaTitle: Sketches Kar...,Alonzo_Bunker
3,Alonzo_Bunker,"Soo_Thah,_A_Tale_of_the_Making_of_the_Karen_Na...",\nProject Gutenberg Australia\n\nTitle: Soo Th...,Project Gutenberg AustraliaTitle: Soo Thah: _A...,Alonzo_Bunker
4,Amy_Charmichael,From_Sunrise_Land_Letters_From_Japan-Marshall_...,FROM SUNRISE LAND: LETTERS FROM JAPAN (1895)\n...,FROM SUNRISE LAND: LETTERS FROM JAPAN (1895)By...,Amy_Charmichael

In [40]:
#apply the nouns function to the body to filter only nouns
data_nouns = pd.DataFrame(data_clean.Body_update.apply(nouns))
data_nouns[:2]

                                         Body_update
0  Duff Alexander 1806-1878 ^fesions chief end Ch...
1  Cl_____ _ 3/- l [ ort §ruil5 l nbia lutcast J ...

In [41]:
#Create a new dtm using only nouns
from sklearn.feature_extraction.text import CountVectorizer

cvn = CountVectorizer(stop_words='english')
data_cvn = cvn.fit_transform(data_nouns.Body_update)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names())
data_dtmn.index = data_nouns.index
data_dtmn

,000,10,100,1000,100one,103,104,108,109,11,...,zoological,zoology,zorobabel,zouch,zouga,zougachapter,zurich,zuthee,ægean,éclaircissement
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
80,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
81,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
82,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
83,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
#create the gensim corpus
corpusn = matutils.Sparse2Corpus(scipy.sparse.csc_matrix(data_dtmn.transpose()))
#create the vocabulary dictionary
idwordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [43]:
ldan = models.LdaModel(corpus=corpusn, id2word=idwordn, num_topics=2, passes=10)
ldan.print_topics()

[(0,
  '0.006*"god" + 0.005*"little" + 0.005*"time" + 0.004*"day" + 0.004*"great" + 0.004*"life" + 0.004*"lord" + 0.004*"work" + 0.003*"man" + 0.003*"years"'),
 (1,
  '0.010*"god" + 0.006*"life" + 0.005*"mr" + 0.005*"work" + 0.005*"china" + 0.005*"time" + 0.004*"years" + 0.004*"great" + 0.004*"missionary" + 0.004*"church"')]

In [44]:
ldan = models.LdaModel(corpus=corpusn, id2word=idwordn, num_topics=3, passes=10)
ldan.print_topics()

[(0,
  '0.009*"god" + 0.006*"china" + 0.005*"great" + 0.005*"missionary" + 0.005*"church" + 0.004*"life" + 0.004*"years" + 0.004*"work" + 0.004*"time" + 0.004*"mr"'),
 (1,
  '0.007*"god" + 0.006*"little" + 0.006*"time" + 0.006*"day" + 0.005*"life" + 0.005*"lord" + 0.004*"great" + 0.004*"work" + 0.004*"children" + 0.004*"years"'),
 (2,
  '0.009*"god" + 0.006*"life" + 0.004*"dr" + 0.004*"work" + 0.004*"mr" + 0.004*"man" + 0.004*"years" + 0.004*"missionary" + 0.004*"great" + 0.004*"prayer"')]

In [45]:
ldan = models.LdaModel(corpus=corpusn, id2word=idwordn, num_topics=4, passes=10)
ldan.print_topics()

[(0,
  '0.010*"god" + 0.007*"lord" + 0.006*"china" + 0.006*"work" + 0.005*"mr" + 0.005*"life" + 0.005*"time" + 0.005*"day" + 0.004*"years" + 0.004*"mrs"'),
 (1,
  '0.007*"mr" + 0.006*"god" + 0.005*"missionary" + 0.005*"livingstone" + 0.004*"great" + 0.004*"life" + 0.004*"men" + 0.004*"work" + 0.004*"time" + 0.004*"dr"'),
 (2,
  '0.010*"god" + 0.008*"life" + 0.005*"time" + 0.005*"man" + 0.005*"great" + 0.005*"day" + 0.004*"years" + 0.004*"father" + 0.004*"prayer" + 0.004*"lord"'),
 (3,
  '0.007*"little" + 0.005*"god" + 0.005*"great" + 0.004*"children" + 0.004*"day" + 0.004*"time" + 0.004*"people" + 0.003*"world" + 0.003*"men" + 0.003*"work"')]

In [46]:
#lets increase the number of iterations and plot our final model.
ldan = models.LdaModel(corpus=corpusn, id2word=idwordn, num_topics=4, passes=100)
ldan.print_topics()

[(0,
  '0.008*"judson" + 0.006*"god" + 0.005*"mr" + 0.005*"mrs" + 0.005*"karen" + 0.004*"karens" + 0.004*"great" + 0.004*"life" + 0.004*"mission" + 0.004*"missionary"'),
 (1,
  '0.008*"mr" + 0.006*"livingstone" + 0.004*"mrs" + 0.004*"dr" + 0.004*"mission" + 0.004*"miss" + 0.004*"china" + 0.004*"great" + 0.004*"men" + 0.003*"lake"'),
 (2,
  '0.011*"god" + 0.007*"life" + 0.006*"lord" + 0.006*"little" + 0.006*"time" + 0.006*"day" + 0.005*"work" + 0.005*"great" + 0.005*"years" + 0.004*"prayer"'),
 (3,
  '0.006*"god" + 0.006*"man" + 0.006*"time" + 0.005*"life" + 0.004*"church" + 0.004*"years" + 0.004*"men" + 0.003*"great" + 0.003*"bishop" + 0.003*"work"')]

In [47]:
# the hidden topics found after so many iterations from our final lda model are:
# 0: God, Karen, Mission, Missionary, life
# 1: livingstone, China, great, Lake
# 2: Lord, little, time, work
# 3: Church, years, Bishop

In [49]:
# #lets take a look at which topic each author transcends
# corpus_transformed = ldan[corpusn]
# list(zip([a for (a, b) in corpus_transformed], data_dtmn.index))